// Imports Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

// Mixins
@mixin central-position {
    display: flex;
    justify-content: center;
    align-items: center;
} // Align Items At Center

@mixin bordered-bottom($color: $black-color, $thick: 1px) {
    border-bottom: solid $thick $color;
} // Borders Bottom

@mixin text-center {
    text-align: center;
}

// Variables Color
$white-color: #e8e8e8;
$black-color: #1a1a1a;
$alert-color: #c25c5c;

// Variables Font Sizes
$font16: 16pt;
$font20: 20pt;
$font-img: 10pt;
$font-desc: 14pt;

// Variables Font Families
$font-playfair: 'Playfair Display', serif;

// Variables For Positions
$my_position: absolute;

// Variables For Heights
$add-height: 80;

// Default Style
* {
    margin: 0;
    padding: 0;
} // All DOM Styled Default

body {
    font-family: $font-playfair;
    background-color: $white-color;
} // Body Default Color

ul {
    list-style-type: none;
} // Remove Style Lists

a:link {
    text-decoration: none;
} // Remove Underline Links

// Classes
.menu {
    z-index: 2;
    position: fixed;
    background-color: $black-color;
    color: $white-color;
    height: 60px;
    width: 100%;
} // Top Of The Page

.menu h1 {
    position: $my_position;
    margin-left: 20px;
    margin-top: 15px;
} // Logo

.menu a {
    color: $white-color;
} // Color Options Menu

.nav-items {
    vertical-align: center;
    position: relative;
    color: $white-color;
    margin-right: 10px;
} // Menu Items

.nav-items li {
    margin-top: 16px;
    margin-right: 5px;
    float: right;
    font-size: $font16;
} // List Of Items

.nav-items a{
    color: $white-color;
    padding: 10px;
} // Color List Menu

.nav-items a:hover {
    background-color: $white-color;
    color: $black-color;
    transition: .8s;
} // Style Menu

// Slider Top
.slider {
    @extend *;
    position: $my_position;
    margin-top: 58px;
    height: 240px;
    background: linear-gradient(to bottom, $black-color 30%, $white-color 100%);
} // Style Slider

.slider img {
    @include central-position;
    z-index: -1;
    height: inherit;
    max-width: 700px;
    margin: auto;
    opacity: .5;
} // Image Style

.slider h2 {
    z-index: 1;
    position: $my_position;
    top: 20%;
    left: 38.8%;
    right: 34%;
    color: $white-color;
} // Style Title

// Body Page Sections
.body-section {
    @extend *;
    position: $my_position;
    margin: 320px 0px 0px 0px;
    right: 0;
    left: 0;
    width: 100%;
} // Container Body Creator And Social Media

// Left Section Center Body
.region-left {
    @include bordered-bottom;
    @extend *;
    color: $black-color;
    margin-left: 20px;
    padding-bottom: 10px;
    width: 62%;
    font-size: $font-img;
} // Style Default Section Left

.region-left img {
    float: left;
    width: 80px;
    border-radius: 100px;
    border: solid 2px $black-color;
} // Image Profile

.region-left div {
    float: left;
    margin: 27px 0 0 10px;
} // Information Image Profile

// Right Section Center Body
.social-media {
    @include bordered-bottom;
    @extend *;
    width: 34.9%;
} // Position and Proportion Icons

.social-media .redes {
    margin-top: 14px;
    float: right;
    display: flexbox;
    font-size: 29px;
} // Style Icons Social Media

.social-media a {
    color: $black-color;
} // Color Icons

// Middle Content YouTube
.content {
    background-color: $black-color;
    position: $my_position;
    margin-top: 440px;
    place-items: center;
    width: 100%;
    height: 680px;
} // The Black Area of The Content

.content h4 {
    font-size: $font20;
    color: $white-color;
    @include central-position;
    padding: 15px 8px 15px 8px;
} // Content Title

.showcase {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 380px;
    margin-left: 38px;
} // Elements That Compose The Grid

.block-info {
    @include text-center;
    background-color: $white-color;
    margin-left: 60px;
} // The Content Inside Content Area

.block-info h5 {
    font-size: $font16;
    padding: 8px;
} // Title Style Block Information

.block-info img {
    width: 280px;
    height: 280px;
} // Image Block Style

.block-info a {
    color: $alert-color;
} // Description Images

// Middle Content Instagram
.content-ig {
    @extend .content;
    background-color: $white-color;
    margin-top: 1080px;
} // Area of The Content Instagram

.content-ig h4 {
    color: $black-color;
    @include central-position;
    padding: 15px 8px 15px 8px;
} // Title Content

.content-ig .block-info {
    background-color: $black-color;
    color: $white-color;
} // The Content Inside Content Area Instagram